h1 {
    color: red;
    font-family: cursive;
    font-style: oblique;
    text-align: center;
}
a {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}